<h1>snacks show page</h1>

<p> Name: <%= @snack.name %> </p>
<p> Brand: <%= @snack.brand %> </p>
<p> Flavor Profile: <%= @snack.flavor_profile %> </p>
<p> Rating: <%= @snack.rating %> </p>

<%= link_to "index", snacks_path %>